DISCORD_CLIENT_ID=1507435246529020034
DISCORD_CLIENT_SECRET=7labMC-qH37E_oG15LB1pRBSKRKhjoCb
DISCORD_REDIRECT_URI=https://stantonhub.com/api/auth/discord/callback
DISCORD_AUTH_URL=https://discord.com/oauth2/authorize?client_id=1507435246529020034&response_type=code&redirect_uri=https%3A%2F%2Fstantonhub.com%2Fapi%2Fauth%2Fdiscord%2Fcallback&scope=identify+email
PORT=4173
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=stantonhub
DB_PASSWORD=pon_aqui_password_mysql
DB_NAME=stanton_hub
MYSQL_BIN=mysql
DB_SKIP_CREATE=1
